{% extends "conteneur.html" %}

{% block corps %}
{% if plat %}
        <h1>Confirmation de suppression l'entrée "{{plat.plat_nom}}"</h1>
<p>{{plat.plat_id}}</p>
{% endif %}
<p>Pour confirmer la suppression, veuillez entrer le numéro au-dessus dans la zone ci-dessous</p>
<form class="form-inline" action="{{url_for('supprimer')}}" method="GET">
           <input class="form-control" name="keyword" type="number" placeholder="ex : 36" aria-label="Recherche">
           <button class="btn btn-secondary btn-lg" type="submit">Rechercher</button>
       </form>
{% endblock %}
