<meta name="titre" content="Le hasard des recettes">
<meta name="author" content="Claire Jahan">
<meta name="description" content="Cette application a été développée dans le cadre du
                                  master Technologies numériques appliquées à l'Histoire (TNAH) et de son cours de Python
                                  à l'Ecole nationale des chartes à Paris.">
<meta name="motsclefs" content="recettes,plats,aliments,ingredients,base de données">
<meta name="viewport" content="width=device-width, initial-scale=1">
