{% extends "conteneur.html" %}

{% block corps %}
<h1>Bienvenue</h1>
<div>
    <p>Vous êtes sur la page d'accueil d'une application Flask.</p>
    <p>Cette application recense des liens vers de bonnes recettes de cuisine.</p>
    <p>Pour l'instant, il est possible de faire une recherche parmi les plats proposés.</p>
    <div>
        <span><a href="{{url_for('plat')}}">Liste générale des plats</a> | <a href="{{url_for('ingredients')}}">
            Liste générale des ingrédients</a></span>
    </div>
    </div>
</div>
{% endblock %}
