{% extends "conteneur.html" %}

{% block titre %}
    {% if plat %}| Plat : {{plat.plat_nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if plat %}
        <h1>{{plat.plat_nom}}</h1>
            <h2>Informations</h2>
            <dl>
                <dt>Type de plat :</dt><dd>{{plat.plat_type}}</dd>
                <dt>Nombre de convives :</dt><dd>{{plat.plat_nombre_convives}}</dd>
                <dt>Lien vers la recette :</dt><dd>{{plat.plat_recette}}</dd>
            </dl>
            <h2>Ingrédients</h2>
        {% if ingredients %}
            {% for ingredient in ingredients %}}
                <ul>
                    <li>{{ingredients.ingredient_nom}}</li>
                </ul>
            {% endfor %}
        {% else %}
        <p>Pas d'ingrédients à présenter</p>
        {% endif %}
    {% else %}
        La base de données est en cours de constitution
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}
